APP_NAME="Mo Dokana"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=mo_dokana
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=file
QUEUE_CONNECTION=sync
CACHE_STORE=file

SANCTUM_STATEFUL_DOMAINS=localhost,127.0.0.1
MOBILE_OTP_ENABLED=false
EMAIL_VERIFICATION_ENABLED=false
ADMIN_APPROVAL_ENABLED=false
